.profile {
  .coverImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .user-img {
    object-fit: cover;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    top: 170px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 50px 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    .social-apps {
      flex: 2;
      display: flex;
      justify-content: space-around;
    }
    .profile-info {
      flex: 3;
      text-align: center;

      .user-icons {
        display: flex;
        justify-content: space-around;
        .item {
          display: flex;
          align-items: center;
          span {
            font-size: 12px;
          }
        }
      }
    }
    .user-contact {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }
  }
}
