.topBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 75px;

  .left {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      font-weight: bold;
      font-size: 20px;
    }
    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      padding: 5px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
